<p>Dear <%= @user.name %>,</p>

<p>
  Pursuant to Penn State Policy AC02: Open Access to Scholarly Articles, this
  serves to notify you that your request for a waiver of the Open Access license
  for <em><%= @waiver.publication_title %></em> in <%= @waiver.journal_title %>
  has been granted. This waiver may not be revoked by Penn State, and Penn State
  will have no license under the policy unless you choose to relinquish the waiver.
</p>

<p>
  Independent of the waiver, we recommend that you deposit your article in the
  <%= link_to "ScholarSphere", "https://scholarsphere.psu.edu/" %> repository.
  In cases where you receive a waiver of Policy AC02, the publisher's agreement
  may still provide sufficient rights to allow copies of your article to be made
  publicly available in ScholarSphere. The publisher may ask that certain conditions
  be met, some of which the repository can easily accommodate (for example, an
  embargo period during which the article will not be made publicly available).
</p>

<p>
  If you have any questions about this waiver, Policy AC02, or depositing a copy
  of your article in ScholarSphere, please
  <%= link_to "contact", "https://libraries.psu.edu/services/scholarly-publishing-services/contact-copyright-publishing-and-open-access" %>
  the Office of Scholarly Communications and Copyright.
</p>

<p>
  Important note for sponsored research: Even though you are being granted a waiver
  of the application of Penn State Policy AC02: Open Access to Scholarly Articles
  to your article specified above, if that article is subject to public access or
  open access requirements from your funder, such as the
  <%= link_to "NIH", "https://copyright.psu.edu/copyright-for-psu-faculty-staff/nih/" %>,
  <%= link_to "NSF", "https://copyright.psu.edu/copyright-for-psu-faculty-staff/nsf/" %>,
  and <%= link_to "DOE", "https://copyright.psu.edu/copyright-for-psu-faculty-staff/doe/" %>
  Public Access Policies, your obligations under your grant cannot be waived. You must be
  sure to reserve rights sufficient to comply with your funder's policy when you enter
  into a publication agreement for the article.
</p>
<br>
<p>
  Sincerely,
</p>

<p>
  The Office of Scholarly Communications and Copyright
  <br>
  Penn State University Libraries
</p>
