<h4>Profile Bio</h4>
<div class="row">
  <div class="col-lg">
    <div class="profile-bio-section">
      <h5>Personal Information</h5>
      <table class="table">
        <tbody>
          <tr>
            <td><strong>Name:</strong></td>
            <td><%= @user.name %></td>
          </tr>
        </tbody>
      </table>
    </div>

    <% if @membership %>
      <div class="profile-bio-section">
        <h5>Organization</h5>
        <table class="table">
          <tbody>
            <tr>
              <td><strong>Name:</strong></td>
              <td><%= @membership.organization.name %></td>
            </tr>
            <tr>
              <td><strong>Position:</strong></td>
              <td><%= @membership.position_title %></td>
            </tr>
            <tr>
              <td><strong>Start date:</strong></td>
              <td><%= @membership.started_on %></td>
            </tr>
            <% if @membership.ended_on %>
              <tr>
                <td><strong>End date:</strong></td>
                <td><%= @membership.ended_on %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <% if @user.orcid_access_token %>
          <%= button_to "Add to my ORCiD Employment History", orcid_employments_path, class: 'btn btn-primary orcid-button', remote: false %>
        <% end %>
      </div>
    <% end %>
  </div>
  
  <% if @user.orcid_identifier && ! @user.orcid_access_token %>
    <div class="col-lg-4">
      <div class="profile-bio-section">
        <%= button_to new_orcid_access_token_path, id: "connect-orcid-button", remote: false do %>
          <%= image_tag "orcid_24x24.png", id: "orcid-id-icon", width: "24", height: "24", alt: "ORCID iD icon" %>
          Register or Connect your ORCID iD
        <% end %>
        <br/>
        <p>
          ORCID provides a persistent digital identifier that distinguishes you from other researchers.
          Learn more at <%= link_to "orcid.org", "https://orcid.org", target: "_blank" %>
        </p>
        <p>
          Connecting your Research Metadata Database profile to your ORCID iD will give you the option to
          update your ORCID profile using some of your profile information that is shown here.
        </p>
      </div>
    </div>
  <% end %>
</div>
