<div class="manage-profile-list">
  <div class="row">
    <div class='col-11'>
      <h4>Manage Profile Presentations</h4>
    </div>
    <div class='col-1'>
      <button id="select-all" class="btn btn-secondary btn-sm mb-2">Deselect All</button>
    </div>
  </div>
  <table class="table">
    <thead>
    <tr>
      <th></th>
      <th>Presentation</th>
      <th>Visible in profile</th>
    </tr>
    </thead>
    <tbody id="presentation-contributions">
      <% @presentation_contributions.each do |c| %>
        <tr id="<%= dom_id(c) %>">
          <td><%= fa_icon 'arrows-v' %></td>
          <td class="pres-title"><%= "#{c.presentation_label} - #{c.presentation_organization} - #{c.presentation_location}" %></td>
          <td class="visibility">
            <%= form_with model: c, method: :put, class: 'visibility-control', remote: true do |f| %>
              <%= f.check_box :visible_in_profile, class: 'visibility-toggle', id: dom_id(c) %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
