<div class="manage-profile-list">
  <h4>Manage Profile Publications</h4>
  <table class="legend">
    <tr>
      <td><%= fa_icon('unlock-alt') %></td>
      <td>The publication has a known open access version.</td>
    </tr>
    <tr>
      <td><%= fa_icon('lock') %></td>
      <td>Open access obligations have been waived for this publication.</td>
    </tr>
    <tr>
      <td><%= fa_icon('hourglass-half') %></td>
      <td>An open access version of this publication is currently being added to ScholarSphere.</td>
    </tr>
    <tr>
      <td><%= fa_icon('question') %></td>
      <td>The open access status of this publication is currently unknown. Click the title to add information or submit a waiver.</td>
    </tr>
  </table>
  <table class="table">
    <thead>
    <tr>
      <th></th>
      <th>Publication</th>
      <th>Visible in profile</th>
      <th>Open Access Status</th>
    </tr>
    </thead>
    <tbody id="authorships">
      <% @authorships.each do |a| %>
        <tr id="<%= dom_id(a) %>">
          <td><%= fa_icon 'arrows-v' %></td>
          <td class="pub-title"><%= a.profile_management_label.html_safe %></td>
          <td class="visibility">
            <%= form_with model: a, method: :put, class: 'visibility-control', remote: true do |f| %>
              <%= f.check_box :visible_in_profile, class: 'visibility-toggle', id: dom_id(a) %>
            <% end %>
          </td>
          <td class="oa-status">
            <%= fa_icon(a.open_access_status_icon) %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
