<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <span class="navbar-brand">Manage Profile</span>
</nav>
<div class="container">
  <div class="row">
    <div class="col">

      <h4>Publications for <%= current_user.name %></h4>

      <table class="table">
        <thead>
        <tr>
          <th>Publication</th>
          <th>Visible in profile</th>
        </tr>
        </thead>
        <tbody id="authorships">
          <% @authorships.each do |a| %>
            <tr id="<%= dom_id(a) %>">
              <td class="pub-title"><%= a.publication_title %></td>
              <td class="visibility">
                <%= form_with model: a, method: :put, class: 'authorship-visibility', remote: true do |f| %>
                  <div class="custom-control custom-switch">
                    <%= f.check_box :visible_in_profile, class: 'visibility-toggle', id: dom_id(a) %>
                  </div>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
