<div class="manage-profile-list">
  <h4>Manage Profile Publications</h4>
  <div id="icon-key">
    <h6>Icon key:</h6>
    <table class="legend">
      <tr>
        <td><%= fa_icon('unlock-alt') %></td>
        <td>The publication has a known open access version.</td>
      </tr>
      <tr>
        <td><%= fa_icon('lock') %></td>
        <td>Open access obligations have been waived for this publication.</td>
      </tr>
      <tr>
        <td><%= fa_icon('hourglass-half') %></td>
        <td>An open access version of this publication is currently being added to ScholarSphere.</td>
      </tr>
      <tr>
        <td><%= fa_icon('question') %></td>
        <td>The open access status of this publication is currently unknown. Click the title to add information or submit a waiver.</td>
      </tr>
    </table>
  </div>
  <p>
    If you need to waive open access obligations for a publication that is not in the list below, then please fill
    out this <%= link_to "waiver form", new_external_publication_waiver_path %>.
  </p>
  <table class="table">
    <thead>
    <tr>
      <th></th>
      <th>Publication</th>
      <th>Visible in profile</th>
      <th>Open Access Status</th>
      <th></th>
    </tr>
    </thead>
    <tbody id="authorships">
      <% @authorships.each do |a| %>
        <tr id="<%= dom_id(a) %>">
          <td><%= fa_icon 'arrows-v' %></td>
          <td class="pub-title"><%= a.profile_management_label.html_safe %></td>
          <td class="visibility">
            <%= form_with model: a, method: :put, class: 'visibility-control', remote: true do |f| %>
              <%= f.check_box :visible_in_profile, class: 'visibility-toggle', id: dom_id(a) %>
            <% end %>
          </td>
          <td class="oa-status">
            <%= fa_icon(a.open_access_status_icon) %>
          </td>
          <td>
            <%= render partial: 'orcid_export_button', locals: { a: a } %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <% if @authorships.none? %>
    <p>
      There are currently no publications to show for your profile. If you have entered your publication 
      metadata into Activity Insight, then it should appear here soon as we are currently working on adding that
      information to our database.
    </p>
  <% end %>
</div>

<% if @waivers.any? %>
<div id="waiver-list">
  <h4>Open Access Waivers</h4>
  <p>
    Listed below are any open access waivers that you have requested for publications that were not in our
    database at the time when the waiver request was submitted.
  </p>
    <table class="table">
      <thead>
      <tr>
        <th>Publication Title</th>
        <th>Journal Title</th>
      </tr>
      </thead>
      <tbody id="waivers">
        <% @waivers.each do |w| %>
          <tr id="<%= dom_id(w) %>">
            <td class="pub-title"><%= w.publication_title %></td>
            <td class="journal-title"><%= w.journal_title %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>
