<p>
  Dear <%= @user.name %>,
</p>

<p>
  Pursuant to <%= link_to "Penn State's open access policy", "https://openaccess.psu.edu/" %>,
  we're contacting you about the publication(s) listed below for which you are listed as an author.
</p>

<p>
  Please click the publication link(s) below and take one of the following actions:
</p>

<ul>
  <li><strong>Submit a URL</strong> (Use this option if an open access version of your publication is already available.)</li>
  <li><strong>Upload the <%= link_to "accepted manuscript", "https://psu.libanswers.com/faq/279953" %></strong>
    to ScholarSphere for public access. Refer to <%= link_to "this FAQ to check the terms of your publishing agreement",
    "https://psu.libanswers.com/faq/279046" %>. </li>
  <li><strong>Get a waiver</strong> (Use this option if you'd like to waive Penn State's policy for the publication in question,
    and we will not contact you about the publication again.) </li>
</ul>

<p>Publications awaiting action:</p>
<ul>
  <% @publications.each do |p| %>
    <li><%= link_to p.title, edit_open_access_publication_url(p) %><%=", <i>#{p.published_by}</i>".html_safe if p.published_by.present? %><%= ", #{p.year}" if p.year.present? %></li>
  <% end %>
</ul>

<p>
  The publication links will only work for you and designated proxies.
  If you would like someone to act on your behalf, please
  <%= link_to "designate them as your proxy", "https://openaccess.psu.edu/proxies-in-the-researcher-metadata-database/" %>.
  If you would like assistance or have any questions, please reply to this email.  If you would like us to make the deposit on your behalf,
  please attach the <%= link_to "accepted manuscripts", "https://psu.libanswers.com/faq/279953" %> to a reply email. We will follow the policies
  of the journal(s) in question when depositing them to <%= link_to "ScholarSphere", "https://scholarsphere.psu.edu/" %>.
</p>

<p>
  You may also find the following FAQs helpful:
</p>

<ul>
  <li><%= link_to "My article is already open access. Why did I get an email?", "https://psu.libanswers.com/faq/339763" %></li>
  <li><%= link_to "I'm not the corresponding author on this article. Why did I get an email?", "https://psu.libanswers.com/faq/339765" %></li>
  <li><%= link_to "Does public access to an article via a federal funder repository satisfy the Penn State open access policy?", "https://psu.libanswers.com/faq/339761" %></li>
  <li><%= link_to "Why should I make my work open access?", "https://psu.libanswers.com/faq/332993" %></li>
</ul>

<p>
  Sincerely,
  <br>
  The Office of Scholarly Communications and Copyright
  <br>
  Penn State University Libraries
</p>
