<p>Dear <%= @user.name %>,</p>

<p>
  We're contacting you from the Penn State University Libraries about the following publication(s),
  for which you are listed as an author:
</p>

<% if @new_publications.any? %>
  <strong>New publications awaiting action:</strong>
  <ul>
    <% @new_publications.each do |p| %>
      <li><%= link_to p.title, edit_open_access_publication_url(p) %></li>
    <% end %>
  </ul>
<% end %>

<% if @old_publications.any? %>
  <strong>Previous publications awaiting action:</strong>
  <ul>
    <% @old_publications.each do |p| %>
      <li><%= link_to p.title, edit_open_access_publication_url(p) %></li>
    <% end %>
  </ul>
<% end %>

<p>
  Pursuant to <%= link_to "Penn State's open access policy", "https://openaccess.psu.edu/" %>, we would like
  to assist you in making the <%= link_to "accepted manuscript version", "https://psu.libanswers.com/faq/279953" %>
  of these publication(s) available to the public free of charge. Please click the link(s) above and follow the
  instructions to take one of the following actions:
</p>

<ul>
  <li>
    <p>
      Submit a URL (Use this option if an open access version of your publication is already available anywhere
      on the public web.)
    </p>
  </li>
  <li>
    <p>
      Upload to ScholarSphere (If there isn't already an open access version of your work available on the web,
      please consider uploading the accepted manuscript version to ScholarSphere, an institutional repository
      maintained by the Libraries. Refer to
      <%= link_to "this FAQ to check the terms of your publishing agreement", "https://psu.libanswers.com/faq/279046" %>.)
    </p>
  </li>
  <li>
    <p>
      Get a Waiver (Use this option if you'd like to waive Penn State's policy for the publication in question,
      and we will not contact you about the publication again.)
    </p>
  </li>
</ul>

<p>
  The publication links will only work for you and designated proxies. If you would like to authorize someone
  else to take these actions on your behalf,
  <%= link_to "please designate them as your proxy", "https://openaccess.psu.edu/proxies-in-the-researcher-metadata-database/" %>.
</p>

<p>
  If you would like assistance or have any questions, please reply to this email. If you have accepted manuscripts
  you would like us to deposit on your behalf, please attach them to a reply email. We will follow the policies
  of the journal(s) in question when depositing them to ScholarSphere.
</p>

<p>
  You may also wish to review one of the following frequently asked questions:
</p>

<ul>
  <li><%= link_to "My article is already open access. Why did I get an email?", "https://psu.libanswers.com/faq/339763" %></li>
  <li><%= link_to "I'm not the corresponding author on this article. Why did I get an email?", "https://psu.libanswers.com/faq/339765" %></li>
  <li><%= link_to "Does public access to an article via a federal funder repository satisfy the Penn State open access policy?", "https://psu.libanswers.com/faq/339761" %></li>
  <li><%= link_to "Why should I make my work open access?", "https://psu.libanswers.com/faq/332993" %></li>
</ul>

<p>
  Sincerely,
  <br>
  The Office of Scholarly Communications and Copyright
  <br>
  Penn State University Libraries
</p>
