<h2><%= I18n.t('profile.waiver_form.text.heading') %></h2>
<p>
  Use this form to waive your obligations under AC02:  Open Access to Scholarly Articles.
  You must fill out this form for each article for which you are requesting a waiver.
  <%= I18n.t('profile.waiver_form.text.limitations') %>
</p>

<p>
  <%= I18n.t('profile.waiver_form.text.request') %>
</p>

<div class="open-access-action">
  <%= simple_form_for @waiver do |f| %>
    <div class='form-group'>
      <%= f.input :publication_title, label: 'Publication Title', hint: "Enter the main title of the publication (required)." %>
      <%= f.input :reason_for_waiver, hint: I18n.t('profile.waiver_form.hints.reason_for_waiver') %>
      <%= f.input :abstract, hint: "Enter the abstract of the publication." %>
      <%= f.input :doi, label: I18n.t('profile.waiver_form.labels.doi'), hint: "Please add the publication's Digital Object Identifier here." %>
      <%= f.input :journal_title, label: I18n.t('profile.waiver_form.labels.journal_title'), hint: "Please add the journal title here (required)." %>
      <%= f.input :publisher, hint: "Enter the name of the publisher of this item." %>
    </div>
    <%= f.submit I18n.t('profile.waiver_form.labels.submit'), class: 'btn btn-primary' %>
  <% end %>
</div>

<%= render partial: 'shared/waiver_scholarsphere_message' %>
