<div class='card'>
  <table class="table">
    <thead class='card-header'>
      <tr>
        <th>Title</th>
        <th>DOI</th>
        <th>DOI Verification Status</th>
      </tr>
    </thead>
    <tbody class='card-body'>
      <% publications.each do |p| %>
        <tr id="<%= dom_id(p) %>">
          <td><%= p.title.truncate(45) %></td>
          <td><%= p.doi %></td>
          <td><%= doi_verification_display(p) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<div class="container pt-3">
  <%= page_count %>
</div>