<div class="open-access-actions">
  <div class="open-access-action">
    <%= simple_form_for @deposit, url: scholarsphere_deposit_path, method: :post do |f| %>
      <section>
        <div class="alert alert-info">
          <%= permissions_alert %>
        </div>
      </section>
      <%= f.label 'Files:', required: true %>
      <div class="file-uploads">
        <%= f.simple_fields_for :file_uploads do |sfu| %>
          <%= render 'deposit_form_files', f: sfu %>
        <% end %>
      </div>

      <%= f.input :title, label: 'Title' %>
      <%= f.input :subtitle, label: 'Subtitle' %>
      <span>Creators:</span>
      <ul>
        <% @deposit.publication.contributor_names.order('position ASC').each do |cn| %>
          <li><%= cn.name %></li>
        <% end %>
      </ul>
      <%= f.input :description, label: 'Description', hint: "Include the work abstract if available. Otherwise, provide a brief summary." %>
      <%= publisher_statement_field(f) %>
      <%= f.input :published_date, label: 'Date of publication', start_year: 2000, end_year: Date.today.year + 2 %>
      <%= f.input :publisher, label: 'Journal Name' %>
      <%= f.input :doi, label: 'DOI', readonly: doi_present? %>
      <%= rights_field(f) %>
      <%= embargoed_until_field(f) %>
      <%= f.input :deposit_agreement,
                  as: :boolean,
                  required: true,
                  label: "I have read and agree to #{link_to 'the deposit agreement', 'https://scholarsphere.psu.edu/agreement', target: '_blank'}.".html_safe %>
      <p>ScholarSphere curators will review your work after publication to enhance metadata quality, recommend improvements, and remediate files as necessary for accessibility. Note, because curatorial review occurs after publication, any changes or updates may result in a versioned work.</p>
      <%= f.submit 'Submit Files', class: 'btn btn-primary', data: {disable_with: 'Submit'} %>
    <% end %>
  </div>
</div>
