<h2>File Version Result</h2>
<% if file_version.nil? || file_version == 'unknown' %>
    <p>We were not able to determine the version of your uploaded publication article. Please
        select the correct article version so we can fetch its sharing rules.</p>
<% else %>
    <p>This looks like the <strong>
    <%=
        if file_version == I18n.t('file_versions.accepted_version')
            I18n.t('file_versions.accepted_version_display')
        elsif file_version == I18n.t('file_versions.published_version')
            I18n.t('file_versions.published_version_display')
        else
            file_version
        end
    %>
        </strong> of the article.
        Please update the selected article version if this is not correct
    so we can fetch the publication's sharing rules.</p>
<% end %>

<div class="container">
  <div class="row">
    <%= form_with url: scholarsphere_deposit_form_path, method: :post do |f| %>
      <% cache_files.each_with_index do |file_path, key| %>
      <%= f.hidden_field "cache_files", value: File.basename(file_path),
        name: "scholarsphere_work_deposit[cache_files][#{key}][original_filename]",
        id: "scholarsphere_work_deposit_cache_files_#{key}_original_filename" %>
      <%= f.hidden_field "cache_files", value: file_path,
        name: "scholarsphere_work_deposit[cache_files][#{key}][cache_path]",
        id: "scholarsphere_work_deposit_cache_files_#{key}_cache_path" %>
      <% end %>
        <div class='form-group'>
          <div class="form-check">
              <%= f.radio_button :file_version, I18n.t('file_versions.accepted_version'), class: 'form-check-input', checked: file_version == I18n.t('file_versions.accepted_version'), required: true %>
              <%= f.label :file_version, I18n.t('file_versions.accepted_version_display'), class: 'form-check-label' %>
          </div>
          <div class="form-check">
              <%= f.radio_button :file_version, I18n.t('file_versions.published_version'), class: 'form-check-input', checked: file_version == I18n.t('file_versions.published_version') %>
              <%= f.label :file_version, I18n.t('file_versions.published_version_display'), class: 'form-check-label' %>
          </div>
      </div>
        <%= f.submit 'Submit', class: 'btn btn-primary', data: {disable_with: 'Submit'} %>
    <% end %>
    </div>
</div>
