<div class="container">
  <div class="row">
    <div class="col-xl">
      <div class="open-access-info">
        <h2>Open Access <%=fa_icon('unlock-alt') %></h2>
        <p>
          We haven't been able to find an open access version of your publication,
          <em><%= publication.title %></em>, on the web. If an open access version
          of your work has been pulished, you can let us know about it by submitting a URL for
          the document in the form below. If an open access version of this publication
          has not yet been published, we encourage you to submit it to ScholarSphere,
          Penn State's institutional repository, via the link below so that your research
          can be preserved and made freely available to everyone.
        </p>
      </div>
      <div class="oa-publication-details">
        <h4>Publication Details</h4>
        <table>
          <tr>
            <td><strong>Title:</strong></td>
            <td><%= publication.title %></td>
          </tr>
          <tr>
            <td><strong>Journal:</strong></td>
            <td><%= publication.published_by %></td>
          </tr>
          <tr>
            <td><strong>Volume:</strong></td>
            <td><%= publication.volume %></td>
          </tr>
          <tr>
            <td><strong>Issue:</strong></td>
            <td><%= publication.issue %></td>
          </tr>
          <tr>
            <td><strong>Pages:</strong></td>
            <td><%= publication.page_range %></td>
          <tr>
            <td><strong>Year Published:</strong></td>
            <td><%= publication.year %></td>
          </tr>
        </table>
      </div>
      <div class="open-access-actions">
        <div class="open-access-action">
          <h5>Submit a URL</h5>
          <p>
            If an open access version of your publication is already available anywhere on the public web,
            then please submit the URL here. This should be a full and valid URL that points directly
            to a publicly accessible copy of your publication.
          </p>

          <%= simple_form_for @form, url: open_access_publication_path(publication), method: :patch, id: 'open-access' do |f| %>
            <div class='form-group'>
              <%= f.input :open_access_url, label: 'Open Access URL' %>
            </div>
            <%= f.submit 'Submit URL', class: 'btn btn-primary', data: {disable_with: 'Submit'} %>
          <% end %>
        </div>
        <div class="action-separator">-- or --</div>
        <div class="open-access-action">
          <h5>Upload to ScholarSphere</h5>
          <p>
            If there isn't already an open access version of your work available on the web, please
            consider uploading it to ScholarSphere.
          </p>

          <%= simple_form_for @deposit, url: scholarsphere_deposit_path, method: :post do |f| %>
            <div class="file-uploads">
              <%= f.simple_fields_for :file_uploads do |sfu| %>
                <%= render 'file_upload_fields', f: sfu %>
              <% end %>

              <div class="cocoon-links">
                <%= link_to_add_association 'Add Another File', f, :file_uploads, association: :file_uploads,
                                            class: 'button-default add-button' %>
              </div>
            </div>

            <%= f.input :title, label: 'Title' %>
            <span>Creators:</span>
            <ul>
              <% publication.contributor_names.order('position ASC').each do |cn| %>
                <li><%= cn.name %></li>
              <% end %>
            </ul>
            <%= f.input :description, label: 'Description' %>
            <%= f.input :published_date, label: 'Date of publication', start_year: 2000, end_year: Date.today.year %>
            <%= f.input :rights,
                        label: 'License',
                        collection: ScholarsphereWorkDeposit.rights_options,
                        selected: 'https://rightsstatements.org/page/InC/1.0/' %>
            <%= f.input :doi, label: 'DOI', readonly: @deposit.doi.present? ? true : false %>
            <%= f.input :embargoed_until,
                        label: 'Embargoed until',
                        include_blank: true,
                        start_year: Date.today.year,
                        end_year: Date.today.year + 10 %>
            <%= f.input :deposit_agreement,
                        as: :boolean,
                        required: true,
                        label: "I have read and agree to #{link_to 'the deposit agreement', 'https://scholarsphere.psu.edu/agreement', target: '_blank'}.".html_safe %>
            <%= f.submit 'Submit Files', class: 'btn btn-primary', data: {disable_with: 'Submit'} %>
          <% end %>
        </div>
      </div>
      <div>
        <p>
          <%= link_to "Waive open access obligations for this publication", new_internal_publication_waiver_path(publication) %>
        </p>
      </div>
    </div>
  </div>
</div>
