<div class="container">
  <div class="row">
    <div class="col-xl">
      <div class="oa-publication-details">
        <h4>Publication Details</h4>
        <table>
          <tr>
            <td><strong>Title:</strong></td>
            <td><%= publication.title %></td>
          </tr>
          <tr>
            <td><strong>Journal:</strong></td>
            <td><%= publication.published_by %></td>
          </tr>
          <tr>
            <td><strong>Volume:</strong></td>
            <td><%= publication.volume %></td>
          </tr>
          <tr>
            <td><strong>Issue:</strong></td>
            <td><%= publication.issue %></td>
          </tr>
          <tr>
            <td><strong>Pages:</strong></td>
            <td><%= publication.page_range %></td>
          <tr>
            <td><strong>Year Published:</strong></td>
            <td><%= publication.year %></td>
          </tr>
        </table>
      </div>
      <div class="open-access-actions">
        <div class="open-access-action">
          <%= simple_form_for @deposit, url: scholarsphere_deposit_path, method: :post do |f| %>
            <div class="file-uploads">
              <%= f.simple_fields_for :file_uploads do |sfu| %>
                <%= render 'deposit_form_files', f: sfu %>
              <% end %>
            </div>

            <%= f.input :title, label: 'Title' %>
            <%= f.input :subtitle, label: 'Subtitle' %>
            <span>Creators:</span>
            <ul>
              <% publication.contributor_names.order('position ASC').each do |cn| %>
                <li><%= cn.name %></li>
              <% end %>
            </ul>
            <%= f.input :description, label: 'Description', hint: "Include the work abstract if available. Otherwise, provide a brief summary." %>
            <%= f.input :publisher_statement, label: 'Publisher Statement', hint: "If the original publisher requires a set statement to upload this work to ScholarSphere, include it here." %>
            <%= f.input :published_date, label: 'Date of publication', start_year: 2000, end_year: Date.today.year + 2 %>
            <%= f.input :publisher, label: 'Journal Name' %>
            <%= f.input :doi, label: 'DOI', readonly: @deposit.doi.present? ? true : false %>
            <%= f.input :rights,
                        label: 'License',
                        collection: ScholarsphereWorkDeposit.rights_options,
                        selected: 'https://rightsstatements.org/page/InC/1.0/',
                        hint: "For help determining License and Embargo, see this #{link_to 'FAQ', 'https://psu.libanswers.com/faq/279046', target: '_blank' }".html_safe %>
            <%= f.input :embargoed_until,
                        label: 'Embargoed until',
                        include_blank: true,
                        start_year: Date.today.year,
                        end_year: Date.today.year + 10 %>
            <%= f.input :deposit_agreement,
                        as: :boolean,
                        required: true,
                        label: "I have read and agree to #{link_to 'the deposit agreement', 'https://scholarsphere.psu.edu/agreement', target: '_blank'}.".html_safe %>
            <%= f.submit 'Submit Files', class: 'btn btn-primary', data: {disable_with: 'Submit'} %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
