<table class="table table-condensed">
  <thead>
  <tr>
    <th>Publication ID</th>
    <% publications.each do |p| %>
      <th><%= p.id %></th>
    <% end %>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Title</td>
    <% publications.each do |p| %>
      <td title="<%= p.title %>"><%= link_to p.title, show_path(model_name: :publication, id: p.id) %></td>
    <% end %>
  </tr>
  <tr>
    <td>Subtitle</td>
    <% publications.each do |p| %>
      <td title="<%= p.secondary_title %>"><%= p.secondary_title %></td>
    <% end %>
  </tr>
  <tr>
    <td>Journal</td>
    <% publications.each do |p| %>
      <td title="<%= p.journal_title %>"><%= p.journal_title %></td>
    <% end %>
  </tr>
  <tr>
    <td>Publisher</td>
    <% publications.each do |p| %>
      <td title="<%= p.publisher %>"><%= p.publisher %></td>
    <% end %>
  </tr>
  <tr>
    <td>Date of Publication</td>
    <% publications.each do |p| %>
      <td title="<%= p.published_on %>"><%= p.published_on %></td>
    <% end %>
  </tr>
  <tr>
    <td>Status</td>
    <% publications.each do |p| %>
      <td title="<%= p.status %>"><%= p.status %></td>
    <% end %>
  </tr>
  <tr>
    <td>Volume</td>
    <% publications.each do |p| %>
      <td title="<%= p.volume %>"><%= p.volume %></td>
    <% end %>
  </tr>
  <tr>
    <td>Issue</td>
    <% publications.each do |p| %>
      <td title="<%= p.issue %>"><%= p.issue %></td>
    <% end %>
  </tr>
  <tr>
    <td>Edition</td>
    <% publications.each do |p| %>
      <td title="<%= p.edition %>"><%= p.edition %></td>
    <% end %>
  </tr>
  <tr>
    <td>Pages</td>
    <% publications.each do |p| %>
      <td title="<%= p.page_range %>"><%= p.page_range %></td>
    <% end %>
  </tr>
  <tr>
    <td>ISSN</td>
    <% publications.each do |p| %>
      <td title="<%= p.issn %>"><%= p.issn %></td>
    <% end %>
  </tr>
  <tr>
    <td>Type</td>
    <% publications.each do |p| %>
      <td title="<%= p.publication_type %>"><%= p.publication_type %></td>
    <% end %>
  </tr>
  <tr>
    <td>Users</td>
    <% publications.each do |p| %>
      <td title="<%= p.users.map { |u| u.name }.join(', ') %>">
        <%= p.users.map { |u| link_to(u.name, show_path(model_name: :user, id: u.id)) }.join(', ').html_safe %>
      </td>
    <% end %>
  </tr>
  <tr>
    <td>Contributors</td>
    <% publications.each do |p| %>
      <td title="<%= p.contributors.map { |c| c.name }.join(', ') %>"><%= p.contributors.map { |c| c.name }.join(', ') %></td>
    <% end %>
  </tr>
  <tr>
    <td>AI IDs</td>
    <% publications.each do |p| %>
      <td title="<%= p.imports.where(source: 'Activity Insight').map { |i| i.source_identifier }.join(', ') %>">
        <%= p.imports.where(source: 'Activity Insight').map { |i| i.source_identifier }.join(', ') %>
      </td>
    <% end %>
  </tr>
  <tr>
    <td>Pure IDs</td>
    <% publications.each do |p| %>
      <td title="<%= p.imports.where(source: 'Pure').map { |i| i.source_identifier }.join(', ') %>">
        <%= p.imports.where(source: 'Pure').map { |i| i.source_identifier }.join(', ') %>
      </td>
    <% end %>
  </tr>
  </tbody>
</table>
