<h2 id="md-full-name"><%= @profile.name %></h2>
<% if @profile.title.present? %>
  <span id="md-title"><%= @profile.title %></span>
<% end %>
<div id="md-person-info">
  <ul id="md-contact-info">
    <li><strong>Email:</strong>  <a href="mailto:<%= @profile.email %>"><%= @profile.email %></a></li>
    <% if @profile.office_location %>
      <li><strong>Office:</strong>  <%= @profile.office_location %></li>
    <% end %>
    <% if @profile.personal_website.present? %>
      <li><strong>Personal website:</strong>  <%= @profile.personal_website %></li>
    <% end %>
  </ul>
  <% if @profile.total_scopus_citations > 0 || @profile.scopus_h_index.present? || @profile.pure_profile_url %>
    <ul>
      <% if @profile.total_scopus_citations > 0 %>
        <li><strong>Citations:</strong>  <%= @profile.total_scopus_citations %></li>
      <% end %>
      <% if @profile.scopus_h_index.present? %>
        <li><strong>H-Index:</strong>  <%= @profile.scopus_h_index %></li>
      <% end %>
      <% if @profile.pure_profile_url %>
        <li><a href="<%= @profile.pure_profile_url %>" target="_blank">Pure Profile</a></li>
      <% end %>
    </ul>
  <% end %>
</div>
<% if @profile.bio.present? %>
  <div id="md-bio">
    <p><%= @profile.bio %></p>
  </div>
<% end %>
<% if @profile.publications.any? %>
  <div id="md-publications">
    <h3>Publications</h3>
    <ul>
      <% @profile.publications.each do |p| %>
        <li><%= p.html_safe %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<% if @profile.grants.any? %>
  <div id="md-grants">
    <h3>Grants</h3>
    <ul>
      <% @profile.grants.each do |g| %>
        <li><%= g %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<% if @profile.presentations.any? %>
  <div id="md-presentations">
    <h3>Presentations</h3>
    <ul>
      <% @profile.presentations.each do |p| %>
        <li><%= p %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<% if @profile.performances.any? %>
  <div id="md-performances">
    <h3>Performances</h3>
    <ul>
      <% @profile.performances.each do |p| %>
        <li><%= p %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<% if @profile.advising_roles.any? %>
  <div id="md-advising">
    <h3>Graduate Student Advising</h3>
    <ul>
      <% @profile.advising_roles.each do |r| %>
        <li><%= r.html_safe %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<% if @profile.news_stories.any? %>
  <div id="md-news-stories">
    <h3>Penn State News Media Mentions</h3>
    <ul>
      <% @profile.news_stories.each do |s| %>
        <li><%= s.html_safe %></li>
      <% end %>
    </ul>
  </div>
<% end %>
