<h2><%= I18n.t('profile.waiver_form.text.heading') %></h2>
<p>
  Use this form to waive your obligations under AC02:  Open Access to Scholarly Articles
  for the publication described below. This waiver will only be applicable to the publication
  described here. To waive your obligations for another publication, you must submit another
  waiver specifically for that publication. <%= I18n.t('profile.waiver_form.text.limitations') %>
</p>
<p>
  <%= I18n.t('profile.waiver_form.text.request') %>
</p>

<div class="open-access-action">
  <%= simple_form_for @waiver, as: :waiver do |f| %>
    <div class='form-group'>
      <%= f.input :title, label: 'Title', readonly: true %>
      <%= f.input :abstract, label: 'Abstract', as: :text, readonly: true %>
      <%= f.input :doi, readonly: true %>
      <%= f.input :published_by, readonly: true %>
      <%= f.input :reason_for_waiver, as: :text %>
    </div>
    <%= f.submit class: 'btn btn-primary' %>
  <% end %>
</div>

<%= render partial: 'shared/waiver_scholarsphere_message' %>
