<div class="container pt-4 pb-5">
  <%= link_to '<< Back', activity_insight_oa_workflow_path %>
  <h1 class="pb-3 pt-2">Publications Requiring File Version Review</h1>
  <table class="table">
    <thead class='card-header'>
      <tr>
        <th>Title</th>
        <th>Preferred Version</th>
        <th>Edit File Metadata</th>
        <th>Download File</th>
        <th>Version Status</th>
      </tr>
    </thead>
    <tbody class='card-body'>
      <% @publications.each do |p| %>
        <tr id="<%= dom_id(p) %>">
          <td rowspan="<%= p.activity_insight_oa_files.count %>"><%= p.title %></td>
          <td rowspan="<%= p.activity_insight_oa_files.count %>"><%= p.preferred_version_display %></td>
            <% p.activity_insight_oa_files.each_with_index do |file, index| %>
              <%= '<tr>'.html_safe unless index == 0 %>
                <td>
                  <%= link_to 'Edit metadata in admin dashboard',
                      rails_admin.edit_path(model_name: :activity_insight_oa_file, id: file.id),
                      target: '_blank' %>
                </td>
                <td class="file-name"><% p.activity_insight_oa_files.each do |f| %>
                <% if f.stored_file_path.present? %>
                  <%= link_to "#{f.download_filename}", activity_insight_oa_workflow_file_download_path(f.id) %>
                <% else %>
                  Not Found
                <% end %>
              <% end %>
          </td>
                <td>
                  <%= file.version_status_display %>
                </td>
              </tr>
            <% end %>
      <% end %>
    </tbody>
  </table>
</div>
