<nav class="profile-header">
  <ul>
    <li><a href="https://libraries.psu.edu/" target="_blank">University Libraries</a></li>
  </ul>
  <div class="clearfix"></div>
</nav>
<div class="title-bar hide-for-large" data-responsive-toggle="lower-nav">
  <a href="#"><%= image_tag('logo.png', alt: "Penn State") %></a>
</div>
<div class="top-bar" id="lower-nav">
  <div class="top-bar-left show-for-large">
    <a href="#"><%= image_tag('logo.png', alt: "Penn State", class: 'logo') %></a>
  </div>
</div>
<div id="organization-profile">
  <div class="grid-container grid-org-pubs">
    <h3><%= @organization.name %></h3>
    <div>
      <p>This is a list of the Researcher Publications from the <%= @organization.name %> and is sorted by publication date.
      This list is created by the <a class="link" href="https://metadata.libraries.psu.edu/">Researcher Metadata Database</a>
      in the University Libraries. Please contact <a class="link" href="mailto:L-FAMS@lists.psu.edu">L-FAMS@lists.psu.edu</a>
       with any updates or corrections.</p>
    </div>
    <br>
    <div class="grid-x grid-margin-x">
      <div class="large-12 cell">
        <% @publications.each do |pub| %>
          <p><%= pub.contributor_names.collect(&:name).join(', ') %>,
             <%= AuthorshipDecorator.new(pub).label.html_safe %></p>
        <% end %>
      </div>
    </div>

  </div>
  <div class='grid-container grid-org-paginator'>
      <div class='col-sm-3 float-left'>
        <%= page_entries_info @publications %>
      </div>
      <div class='col-sm-3 float-right'>
        <%= paginate @publications %>
      </div>
    </div>
</div>

<footer>
  <div class="grid-x">
      <div class="center">
        <p>With corrections or questions, please contact Faculty Activity Management Services, University Libraries,
            <a class="link" href="mailto:L-FAMS@lists.psu.edu">L-FAMS@lists.psu.edu</a>.
        </p>
      </div>
    <nav class="cell">
      <ul class="menu links align-center">
        <li><a href="https://psu.edu" target="_blank">&copy; 2019 The Pennsylvania State University</a></li>
      </ul>
    </nav>
  </div>
</footer>
