<div class="container pt-4 pb-5">
  <%= link_to '<< Back', activity_insight_oa_workflow_path %>
  <h1 class="pb-3 pt-2">Publications with Wrong File Version</h1>
  <div class='card'>
  <table class="table">
    <thead class='card-header'>
      <tr>
        <th>Author</th>
        <th>Author Batch Email</th>
        <th>Publication Email</th>
        <th>Email Last Sent On</th>
        <th>Title</th>
        <th>Preferred Version</th>
        <th>File Version</th>
        <th>Download File</th>
      </tr>
    </thead>
    <tbody class='card-body'>

    <!--- Will need to change p.confirmed_users to whatever connects a publication to the activity insight uploader -->

    <% authors_grouped = @publications.group_by { |p| p.confirmed_users.first.webaccess_id } %>
    <% authors_grouped.each do |author, publications| %>
      <% publications.each do |p, index| %>
          <tr id="<%= dom_id(p) %>">
          <td rowspan="<%= p.activity_insight_oa_files.count %>">
            <% if publications.index(p) == 0 %>
              <%= p.confirmed_users.first.webaccess_id %>
            <% end %>
          </td>
          <td rowspan="<%= p.activity_insight_oa_files.count %>">
            <% if publications.index(p) == 0 %>
                <%= button_to "Send Batch Email", activity_insight_oa_workflow_wrong_file_version_email_path, params: {publications: publications}%>
            <% end %>
          </td>
          <td rowspan="<%= p.activity_insight_oa_files.count %>">
            <%= button_to "Send Email", activity_insight_oa_workflow_wrong_file_version_email_path, params: {publications: p}%>
          </td>
          <td rowspan="<%= p.activity_insight_oa_files.count %>">
            <%= p.email_last_sent_at.present? ? p.email_last_sent_at.strftime("%m/%d/%Y") : '' %>
          </td>
          <td rowspan="<%= p.activity_insight_oa_files.count %>">
            <%= link_to p.title.truncate(45),
                  rails_admin.edit_path(model_name: :publication, id: p.id) + '#publication_doi',
                  target: '_blank' %>
          </td>
          <td rowspan="<%= p.activity_insight_oa_files.count %>">
            <%= p.preferred_version_display %>
          </td>
            <% p.activity_insight_oa_files.each_with_index do |file, index| %>
              <%= '<tr>'.html_safe unless index == 0 %>
                <td>
                  <%= file.version_status_display %>
                </td>
                <td class="file-name">
                    <% if file.stored_file_path.present? %>
                     <%= link_to "#{file.download_filename}", activity_insight_oa_workflow_file_download_path(file.id) %>
                    <% else %>
                      Not Found
                    <% end %>
                </td>
            <% end %>
          </tr>
      <% end %>
    <% end %>
    </tbody>
  </table>
  </div>
</div>
