- params = request.params.except(:action, :controller, :utf8, :page, :per_page, :format, :authenticity_token)

.panel.panel-integration
  .row.row-integration
    = "You have found <strong>#{@objects.count}</strong> publications from #{@org_name} to integrate with Activity Insight.".html_safe

  .row.row-integration
    = "Select which system you would like to integrate with below.  It is recommended to integrate with beta before production to check for errors."

= form_tag export_publications_to_activity_insight_path(params.merge(all: true)), method: 'post', class: 'form-horizontal' do

  .form-group.form-actions
    .row.row-integration
      %button.btn.btn-primary{type: "submit", name: "_integrate", value: "beta",
                              :confirm => "Are you sure you want to integrate with beta?"}
        %i.icon-circle-arrow-up
        = "Integrate with Beta"
    .row.row-integration
      %button.btn.btn-primary{type: "submit", name: "_integrate", value: "production",
                              :confirm => "Are you sure you want to integrate with production?"}
        %i.icon-circle-arrow-up
        = "Integrate with Production"
    .row.row-integration
      = link_to '<< Back', :back
