<div id="home-page">
  <div class="top-section">
    <div class="container">
      <div class="row">
        <div class="col-lg-8">
          <h1>Researcher Metadata Database</h1>
        </div>
        <div class="col-lg-4">
          <h2>Purpose</h2>
          <p>
          Our goal is to provide centralized, consistent access to up-to-date metadata for Penn State research and support researchers in depositing publications in ScholarSphere under <a href="https://openaccess.psu.edu/">Penn State's open access policy.</a>
          </p>
        </div>
      </div>
    </div>
  </div>

  <main role="main" class="container">
    <div class="row text-center">
      <div class="col-lg-4">
        <%= image_tag('metadata.png', alt: 'Researcher Metadata') %>
        <h4>Researcher Metadata</h4>
        <p>
          We maintain an aggregation of publications, presentations, performances, advising, news articles, and bios for Penn State faculty from several major sources including Pure and Activity Insight.
        </p>
        <a class="btn btn-primary" href="https://github.com/psu-libraries/researcher-metadata/wiki">Learn More</a>
      </div>
      <div class="col-lg-4">
        <%= image_tag('api.png', alt: 'Comprehensive API') %>
        <h4>Comprehensive API</h4>
        <p>
        We publish clean metadata through our RESTful API adhering to the Open API Standard. Explore our endpoints using our interactive documentation. <a href="mailto:L-FAMS@lists.psu.edu?Subject=RMD%20API%20Key%20Request" target="_top">Request</a> a license key to query the data.
        </p>
        <%= link_to "API Documentation", api_docs_path, class: 'btn btn-primary' %>
      </div>
      <div class="col-lg-4">
        <%= image_tag('metadata-profile-icon.png', alt: 'Build Profiles') %>
        <h4>Build Profiles</h4>
        <p>
          Building profile pages for your unit's directory? Creating a list of publications from your unit? Leverage our freely available profile template that displays metadata from our API, or check out our demo unit publication list.
        </p>
        <%= link_to "Build Profiles", resources_path , class: 'btn btn-primary' %>
      </div>
    </div>
  </main>
</div>
