<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <title>Penn State University Libraries | Researcher Metadata Database</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-md navbar-dark mb-4">
      <a class="navbar-brand" href="#"><%= image_tag('penn-state-libraries-logo.png', alt: 'Penn State Libraries') %></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <%= link_to "Admin", rails_admin_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Profile", profile_bio_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Home", root_path, class: "nav-link" %>
          </li>
          <li>
            <% if current_user %>
              <%= link_to "Sign out", destroy_user_session_path, class: "nav-link" %>
            <% else %>
              <%= button_to "Sign in", user_azure_oauth_omniauth_authorize_path, class: "nav-link" %>
            <% end %>
          </li>
        </ul>
      </div>
    </nav>

    <% if flash[:alert].present? %>
      <section>
        <div class="alert alert-danger">
          <%= flash[:alert] %>
        </div>
      </section>
    <% end %>
    <% if flash[:notice].present? %>
      <section>
        <div class="alert alert-success alert-dismissable">
          <button type="button" class="close" data-dismiss="alert">
            <span aria-hidden="true">&times;</span>
            <span class="sr-only">Close</span>
          </button>
          <%= flash[:notice] %>
        </div>
      </section>
    <% end %>

    <%= yield %>

    <footer>
      <div class="container">
        <div class="row">
          <div class="col-lg-3">
            <p>
              <strong>Researcher Metadata Database</strong><br />
              Change the way you access Penn State researcher metadata.
            </p>
          </div>
          <div class="col-lg-6 logos">
            <p>RMD is a collaboration between
              <a href="https://libraries.psu.edu">PSU libraries</a>,
              <a href="https://research.psu.edu">OVPR</a> and
              <a href="https://westarete.com">West Arête</a>
            </p>
          </div>
          <div class="col-lg-3">
            <ul class="list-unstyled">
              <li><strong>Faculty Activity Management Services</strong></li>
              <li>University Libraries</li>
              <li><%= image_tag('metadata-email-icon.png', alt: 'Email') %><a href="mailto:L-FAMS@lists.psu.edu">L-FAMS@lists.psu.edu</a></li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
