<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'bundle', media: 'all', 'data-turbolinks-track': 'reload' %>
    <title>Penn State University Libraries | Researcher Metadata Database</title>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <%= javascript_include_tag "bundle", "data-turbo-track": "reload", defer: true %>
  </head>
  <body>
    <nav class="navbar navbar-expand-md navbar-dark mb-4 p-2">
      <a class="navbar-brand" href="#"><%= image_tag('penn-state-libraries-logo.png', alt: 'Penn State Libraries') %></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <%= link_to "Home", root_path, class: "nav-link" %>
          </li>
          <% if current_user && current_user.is_admin? %>
            <li class="nav-item">
              <%= link_to "Admin", rails_admin_path, class: "nav-link" %>
            </li>
          <% end %>
          <li class="nav-item">
            <%= link_to "Profile", profile_bio_path, class: "nav-link" %>
          </li>
          <li>
            <% if current_user %>
              <%= link_to "Sign out", destroy_user_session_path, class: "nav-link" %>
            <% else %>
              <%= button_to "Sign in", user_azure_oauth_omniauth_authorize_path, class: "btn nav-link" %>
            <% end %>
          </li>
        </ul>
      </div>
    </nav>
    <%= render partial: 'shared/flash_notice' %>
    <%= render partial: 'shared/flash_alert' %>
    <%= yield %>

    <footer>
      <div class="container">
        <div class="row">
          <div class="col-lg-3">
            <p>
              <strong>Researcher Metadata Database</strong><br>
              Change the way you access Penn State researcher metadata.
            </p>
          </div>
          <div class="col-lg-6 logos">
            <p>RMD is a collaboration between the
              <a href="https://libraries.psu.edu">PSU Libraries</a>,
              <a href="https://research.psu.edu">OSVPR</a> and
              <a href="https://westarete.com">West Arête</a>.
            </p>
          </div>
          <div class="col-lg-3">
            <ul class="list-unstyled">
              <li><strong>Faculty Activity Management Services</strong></li>
              <li>University Libraries</li>
              <li><%= image_tag('metadata-email-icon.png', alt: 'Email') %><a href="mailto:L-FAMS@lists.psu.edu">L-FAMS@lists.psu.edu</a></li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
