<!DOCTYPE html>
<html>
<head>
  <title>Profile</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    'manage_profile', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'profile', 'data-turbolinks-track': 'reload' %>

  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>
  <nav class='manage-profile-header'>
    <ul>
      <li><a href="https://libraries.psu.edu/" target="_blank">University Libraries</a></li>
    </ul>
  </nav>
  <nav class="navbar navbar-expand-lg navbar-light manage-profile-nav">
    <span class="navbar-brand"><%= image_tag('logo.png', alt: "Penn State") %></span>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item<%= ' active' if action_name == 'bio' %>"><%= link_to "Bio", profile_bio_path, class: 'nav-link' %></li>
      <li class="nav-item<%= ' active' if action_name == 'edit_publications' %>"><%= link_to "Publications", edit_profile_publications_path, class: 'nav-link' %></li>
      <li class="nav-item<%= ' active' if action_name == 'edit_presentations' %>"><%= link_to "Presentations", edit_profile_presentations_path, class: 'nav-link' %></li>
      <li class="nav-item<%= ' active' if action_name == 'edit_performances' %>"><%= link_to "Performances", edit_profile_performances_path, class: 'nav-link' %></li>
      <li class="nav-item<%= ' active' if action_name == 'edit_other_publications' %>"><%= link_to "Others", edit_profile_other_publications_path, class: 'nav-link' %></li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item"><%= link_to "Home", root_path, class: 'nav-link' %></li>
      <li class="nav-item"><%= link_to "Public Profile", profile_path(webaccess_id: current_user.webaccess_id), class: 'nav-link' %></li>
      <li class="nav-item"><%= link_to "Support", 'mailto:L-FAMS@lists.psu.edu?subject=Researcher Metadata Database Profile Support', target: '_blank', class: 'nav-link' %></li>
    </ul>
  </nav>
  <% if flash[:alert].present? %>
    <section>
      <div class="alert alert-danger">
        <%= flash[:alert] %>
      </div>
    </section>
  <% end %>
  <% if flash[:notice].present? %>
    <section>
      <div class="alert alert-success alert-dismissable">
        <button type="button" class="close" data-dismiss="alert">
          <span aria-hidden="true">&times;</span>
          <span class="sr-only">Close</span>
        </button>
        <%= flash[:notice] %>
      </div>
    </section>
  <% end %>
  <div class="container">
    <div class="row">
      <div class="col">
        <%= yield %>
      </div>
    </div>
  </div>
</body>
</html>