<!DOCTYPE html>
<html>
  <head>
    <title>Penn State University Libraries | Researcher Metadata Database</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'bundle', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag "#{Settings.external_assets.endpoint}/psulib_base/dist/peripheral/peripheral.min.css", media: 'all', crossorigin: 'anonymous' %>
    <%= stylesheet_link_tag    'public', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <%= javascript_include_tag "bundle", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <%= render partial: 'shared/header' %>
    <%= render partial: 'shared/flash_notice' %>
    <%= render partial: 'shared/flash_alert' %>
    <%= render partial: 'shared/offcanvas_main' %>
    <%= yield %>
    <%= render partial: 'shared/footer' %>
  </body>
</html>
